%p#notice= notice

%p
  %b Title:
  = @blog.title
%p
  %b Contents:
  = @blog.contents
%p
  %b Image:
  -#= image_tag @blog.image.url(:large)
  = image_tag @blog.image.s3_object(:thumb).url_for(:read, secure: true)

= link_to 'Edit', edit_blog_path(@blog)
\|
= link_to 'Back', blogs_path
